@page
@model IndexModel
@{


}


<h2>Separate page model</h2>
<p>
    @Model.Message
</p>

<h1>@Model.Message</h1>

<form method="post">
    Name:
    <input asp-for="Message" />
    <input type="submit" />
</form>
